<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.door"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAG"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            
        </activity>
        <activity android:name=".activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivitySpl"></activity>
        <activity android:name=".activity.ActivityMainMenu"></activity>
        <activity android:name=".activity.ActivityAdmin"></activity>
        <activity android:name=".activity.ActivityInputEmployee"></activity>
        <activity android:name=".activity.ActivityEmployeeEnter"></activity>
        <activity android:name=".activity.ActivityShowCheckIn"></activity>
        <activity android:name=".activity.ActivityInputManager"></activity>
        <activity android:name=".activity.ActivityManagerEnter"></activity>
        <activity android:name=".activity.ActivityManagerCheckIn"></activity>
        
    </application>

</manifest>